
<div class="row">
    <div class="col-md-12">
        <h2>Le chat le plus mignon</h2>
        <p>
            allons voter pour le  chat le plus mignon du monde !
        </p>
        <ul>            
            <li><a asp-area="" asp-controller="Cat" asp-action="Vote">voter</a></li>
            <li><a asp-area="" asp-controller="Cat" asp-action="Scores">résultat</a></li>
        </ul>
    </div>
    
</div>
