@using CatApp.WebMVC.Models
@model CatScoresModel

<div class="row">
    <div class="col-xs-12 col-sm-offset-3 col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading c-list">
                <span class="title">Scores</span>
            </div>

            <ul class="list-group" id="contact-list">

                @foreach (var cat in Model.Cats)
                {
                    <li class="list-group-item">
                        <div class="col-xs-12 col-sm-4">
                            <img src="@cat?.Url" alt="cat id @cat.CatId" class="img-responsive img-responsive" />
                        </div>
                        <div class="col-xs-12 col-sm-8">

                            Vote gagnés <span class="badge badge-light">@cat?.Score?.WinVoteCount</span> <br />
                            Vote perdus <span class="badge badge-light">@cat?.Score?.LostVoteCount</span><br /><br />

                            <b>Score :</b>
                            @if (cat?.Score?.Value > 0)
                            {
                                <span class="badge" style="background-color: #28a745;">@cat?.Score?.Value</span>
                            }
                            else if (cat?.Score?.Value < 0)
                            {
                                <span class="badge" style="background-color: #dc3545;">@cat?.Score?.Value</span>
                            }
                            else
                            {
                                <span class="badge badge-light">@cat?.Score?.Value</span>
                            }
                        </div>
                        <div class="clearfix"></div>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>


